{% extends 'contacts_app/base.html' %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Organization</td>
            <td>Position</td>
            <td>Mobile No.</td>
            <td>Address</td>
            <td>
                <a href="{% url 'contacts_app:contact_add' %}" class="btn btn-outline-success">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for contact in contact_list %}
            <tr class="border-bottom">
                <td>{{contact.fullname}}</td>
                <td>{{contact.organization}}</td>
                <td>{{contact.position}}</td>
                <td>{{contact.mobile}}</td>
                <td>{{contact.address}}</td>
                <td>
                    <a href="{% url 'contacts_app:contact_update' contact.id %}" class="btn text-secondary d-inline ">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'contacts_app:contact_delete' contact.id %}" method="POST" class="d-inline mt-4">
                        {% csrf_token %}
                        <button><i class="fa fa-trash text-danger float-right"></i></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>   
{% endblock %}